<% include ./_head %>

<div id="header">
  <h1>Poll your friends</h1>
</div>

<div id="poll-form">
  <h3>Title: <input id="title" type="text" value ="" placeholder="Set the title..."></h3>

  <h3>Options:</h3>
  <ol>
    <li><input id="one" type="text" value="" placeholder="Set the answer..."></li>
    <li><input id="two" type="text" value="" placeholder="Set the answer..."></li>
  </ol>
  <input id="add-option"type="button" value="Add Option">

  <h3>Closing time:
    <input id="date" type="date" value="">
    <input id="time" type="time" value="">
  </h3>

  <input id="poll" type="button" value="Start the Poll">
</div>

<hr>

<div id="poll-links">
  <h3>Poll Links</h3>

  <div id="links">
    <p>Admin View:</p>
    <p>Voting Page:</p>
  </div>
</div>

<script src="/vendor/moment.js"></script>

<% include ./_footer %>
