<% include ./_head %>

<h2 id="poll" data-id="<%= poll.id %>"><%= poll.title %></h2>

<div id="poll-options">
  <% for(option in poll.options){ %>
    <%= option %>:<input id="<%= option %>"class="voter"
                    type="button" value="Vote"><br>
  <% } %>
  <h3 id="yourVote">Your vote: </h3>
</div>

<% include ./_footer %>
