<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Real Time</title>
  </head>
  <body>
    <h1>Cast your vote!</h1>
    <h2><%= poll.title %></h2>
    <h2><%= poll.secret %></h2>

    <script src="/jquery-2.2.3.js"> </script>
    <script src="/socket.io/socket.io.js"> </script>
    <script src="/voting.js"> </script>
  </body>
</html>
