<% include ./_head %>

<h2 id="poll" data-id="<%= poll.id %>"><%= poll.title %></h2>

<div id="poll-options">
  <% if(poll.status === 'closed'){ %>
    <h3>Poll Closed</h3>
  <% } else { %>
    <% for(option in poll.options){ %>
      <%= option %>:<input id="<%= option %>"class="voter" type="button" name="name" value="Vote"><br>
    <% } %>
    <h3 id="yourVote">Your vote: </h3>
  <% } %>
</div>

<script type="text/javascript"> var userip; </script>
<script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
<% include ./_footer %>
